{%- paginate blog.articles by 21 -%}

<div data-section-id="{{ section.id }}" data-section-type="blog">
  <div class="page-width page-content">

    {%- render 'breadcrumbs' -%}

    <header class="section-header{% if section.settings.blog_show_tag_filter and blog.tags.size > 0 %}{% unless settings.type_headers_align_text %} section-header--with-link{% endunless %}{% endif %}">
      <h1 class="section-header__title">
        {{ blog.title }}

        {%- if section.settings.blog_show_rss -%}
          <a href="{{ shop.url }}{{ blog.url }}.atom" class="rss-link">
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-rss" viewBox="0 0 20 20"><path fill="#444" d="M5.903 16.586a2.489 2.489 0 1 1-4.977 0 2.489 2.489 0 0 1 4.977 0zM12.956 19.075H9.43c0-4.688-3.817-8.505-8.505-8.505V7.044c6.638 0 12.031 5.393 12.031 12.031z"/><path fill="#444" d="M15.445 19.075c0-8.028-6.493-14.52-14.52-14.52V.925c10.019 0 18.15 8.131 18.15 18.15h-3.63z"/></svg>
            <span class="icon__fallback-text">RSS</span>
          </a>
        {%- endif -%}
      </h1>

      {%- if section.settings.blog_show_tag_filter and blog.tags.size > 0 -%}
        <select id="BlogTagFilter">
          <option value="/blogs/{{ blog.handle }}">All</option>
          {%- for tag in blog.all_tags -%}
            {% if tag contains "_" %}{%- assign tag_starts_with = tag | slice: 0 -%}{% if tag_starts_with == "_" %}{% if tag_count %}{%- assign tag_count = tag_count | minus: 1 | at_least: 0 -%}{% endif %}{% continue %}{% endif %}{% endif %}
            <option value="/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" {% if current_tags contains tag %}selected{% endif %}>{{ tag }}</option>
          {%- endfor -%}
        </select>
      {%- endif -%}
    </header>

 <div class="blogs-custom-tab">
  {%- for block in section.blocks -%}
    {% if block.settings.categoryurl != blank %}
      <a 
        href="{{ block.settings.categoryurl }}?tab={{ block.settings.blogtext | escape }}" 
        class="blog-button {% if forloop.first %}active{% endif %}" 
      >
        {{ block.settings.blogtext }}
      </a>
    {% endif %}
  {%- endfor -%}
</div>
  
    <div class="grid grid--uniform 333333333">
      {%- for article in blog.articles -%}
        {%- render 'article-grid-item', article: article, grid_item_width: 'medium-up--one-third', per_row: '3', image_size: section.settings.blog_image_size -%}
      {%- endfor -%}
    </div>

    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}

  </div>
</div>

{%- endpaginate -%}

{% schema %}
  {
    "name": "Blog pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "blog_show_tag_filter",
        "label": "Show tag filter"
      },
      {
        "type": "checkbox",
        "id": "blog_show_rss",
        "label": "Show RSS link"
      },
      {
        "type": "checkbox",
        "id": "blog_show_tags",
        "label": "Show tags"
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_comments",
        "label": "Show comment count",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author"
      },
      {
        "type": "checkbox",
        "id": "blog_show_excerpt",
        "label": "Show excerpt"
      },
      {
        "type": "select",
        "id": "blog_image_size",
        "label": "Image size",
        "default": "wide",
        "options": [
          {
            "value": "natural",
            "label": "Natural"
          },
          {
            "value": "square",
            "label": "Square (1:1)"
          },
          {
            "value": "landscape",
            "label": "Landscape (4:3)"
          },
          {
            "value": "portrait",
            "label": "Portrait (2:3)"
          },
          {
            "value": "wide",
            "label": "Wide (16:9)"
          }
        ]
      }
    ],
      "blocks": [
    {
      "name": "Category",
      "type": "text",
      "settings": [
        {
          "type": "text",
          "id": "blogtext",
          "label": "Blog category heading"
        },
          {
          "type": "url",
          "id": "categoryurl",
          "label": "Blog category url"
        }
      ]
    }
  ],
  }
{% endschema %}
<style>
  .blogs-custom-tab{
    padding-bottom:50px;
    justify-content:center;
    display:flex;
    flex-wrap:wrap;
  }
  .blog-button{
    margin:0 5px;
    font-size:20px;
    padding:10px 15px;
    /* background-color:#d0c272; */
    font-weight:600;
    margin-bottom:10px;
  }
  .blog-button.active {
    color: #fff;
    background-color: #d0c272;
    /* border-color: blue; */
border-radius:10px;
  }

</style>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Get all blog buttons
    const tabs = document.querySelectorAll('.blog-button');

    // Get the current tab from the URL (query parameter "tab")
    const urlParams = new URLSearchParams(window.location.search);
    const activeTabText = urlParams.get('tab');

    // Set the active tab based on the query parameter
    let activeSet = false;
    tabs.forEach(tab => {
      const tabText = tab.textContent.trim();
      if (tabText === activeTabText) {
        tab.classList.add('active');
        activeSet = true;
      } else {
        tab.classList.remove('active');
      }
    });

    // If no tab is active, make the first tab active by default
    if (!activeSet && tabs.length > 0) {
      tabs[0].classList.add('active');
    }
  });
</script>