

<div class="Collection-grid-section" >
  <div class="width-container">
    <div class="common-heading ">
      <div class="section-header">
        {% if section.settings.headingtext != blank %}
        <h2 class="heading-text">{{ section.settings.headingtext }}</h2>
      {% endif %}
      {% if section.settings.sub_p != blank %}
        <P class="sub-heading-p">{{section.settings.sub_p}}</P>
      {% endif %}
      </div>
    </div>
    <div class="subheading">
      {% if section.settings.subhead != blank %}
      <div class="sub-heading-h1">{{section.settings.subhead}}</div>
    {% endif %}
    {% if section.settings.subheadp != blank %}
      <p class="sub-heading-p2">{{section.settings.subheadp}}</p>
    {% endif %}
    </div>
    <div class="Main-Coll Collection-cls">
     
      {% for product in section.settings.collectionproduct.products  %}
        <div class="First-collection">
          <div class="image-collection">
            {% if product.featured_image != blank %}
              <a href="{{ product.url }}">
              <div class="product-img">
                  <img src="{{  product.featured_image  | img_url: 'large' }}" class="main-img"  loading="lazy" alt="">
                  <img src="{{  product.images[1]  | img_url: 'large' }}" class="hover-image " loading="lazy" alt="">
                  </div>
                </a>
            {% endif %}
            <div class="product-content-box">
              <div class="product-title">
                {{ product.title }}
              </div>
              <div class="pro-rate">
                <div class="product-price"><span class="grid-product__price--original">{{ product.compare_at_price | money }}</span>{{ product.price | money }}</div>
              <div class="jdgm-widget jdgm-preview-badge">
                {{ product.metafields.judgeme.badge }}
              </div>
              </div>
              
              <form method="post" action="/cart/add" class="add-to-cart">
                <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                <input min="1" type="number" id="quantity" name="quantity" value="1" class="hide">
                <input type="submit" value="Add to cart" class="btn">
              </form>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
   <div class="view-all-button">
    <div class="news__arrows"></div>
    <a href="{{section.settings.viewall}}">
    <button class="collection-view-all">{{section.settings.button_text}}
        <i class="fa-solid fa-chevron-right c-arrow-icon"></i>
      </button>
      </a>
   </div>
   
  </div>
</div>

{% schema %}
{
  "name": "collection slider section",
  "settings": [
      {
        "type": "richtext",
        "id": "headingtext",
        "label": "Heading text" 
      },
      {
        "type": "text",
        "id": "sub_p",
        "label": "paragraph text" 
      },
      {
        "type": "richtext",
        "id": "subhead",
        "label": "sub heading text" 
      },
      {
        "type": "text",
        "id": "subheadp",
        "label": "sub paragraph text" 
      },
      {
        "type": "color",
        "id": "collection_color",
        "label": " background color" 
      },
    {
      "id": "collectionproduct",
      "type": "collection",
      "label": "Select collection"
    },
    {
      "id": "viewall",
      "type": "url",
      "label": "view all collection"
    },
    {
      "id": "button_text",
      "type": "text",
      "label": "Add button text"
    }
  ],
  "presets": [
    {
      "name": "collection slider section"
    }
  ]
}
{% endschema %}

<style>
 
  .Collection-grid-section{
    background-color:{{section.settings.collection_color}} !important;  
    padding-top:60px;
    padding-bottom:80px;
  }
    .Collection-grid-section .Main-collections{
      max-width:1400px;
      width: 100%;
      margin : auto;
      padding: 55px 20px;
     
    }
    .First-collection {
    margin-right:20px !important; 
  }
      .image-collection img {
      width: 100%;

  }
      .image-collection {
      border-radius: 50%;

  }
   .image-collection .product-img{
      position: relative;
     overflow:hidden;
     tarnsition:all 0.5s;
     /* z-index: -1; */
  }

  .hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; /* Initially hide the second image */
    transition: opacity 0.3s ease; /* Add a smooth transition effect */
  }

   .image-collection:hover .hover-image {
    opacity: 1;
  }
    .Main-collections .head h2.heading {
      font-family: 'sofia-pro';
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 55px;
      text-align: center;
      color: #95694C;
      margin: 0 0 50px;
      letter-spacing: normal;
  }
      .First-collection h2.title {
      font-family: 'sofia-pro-light' !important;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      color: #95694C;
        margin: 30px 0 0;
        letter-spacing: normal;
  }
      .First-collection h2.title a {
      color: #95694C;
  }
  
  .image-collection:hover   .product-content-box {
    text-align: center  ;
    background-color: #ffffff;
    padding: 20px 0;
  }
  .product-content-box{
    text-align: center;
    padding: 20px 0;
  }
 
  .collection-view-all{
    background-color: #282828;
    padding: 10px 20px;
    margin-right: 15px;
    text-align: end;
  }
  .collection-view-all {
    color: #ffffff;
  }

  .view-all-button{
    text-align:end ;
    margin-top: 30px;
    position: relative;
  }
    @media(max-width:768px){
      .Main-collections .head{
        display: none;
      }
      .Collection-grid-section .Main-collections{
      padding: 40px 20px;
    }
      .First-collection h2.title {
      font-size: 16px;
      line-height: 23px;
  }
    }

      .Collection-grid-section	.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;

    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent; }

    .Collection-grid-section	 .slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0; }
    .Collection-grid-section	 .slick-list:focus {
      outline: none; }
      .Collection-grid-section	 .slick-list.dragging {
      cursor: pointer;
      cursor: hand; }

      .Collection-grid-section	 .slick-slider .slick-track,
      .Collection-grid-section	 .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

    .Collection-grid-section	 .slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block; }
    .Collection-grid-section .slick-track:before,.Collection-grid-section	 .slick-track:after {
      content: "";
      display: table; }
      .Collection-grid-section	 .slick-track:after {
      clear: both; }
      .Collection-grid-section	 .slick-loading .slick-track {
      visibility: hidden; }

      .Collection-grid-section	.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none; }
    [dir="rtl"] .Collection-grid-section .slick-slide {
      float: right; }
    .Collection-grid-section .slick-slide img {
      display: block; }
    .Collection-grid-section .slick-slide.slick-loading img {
      display: none; }
    .Collection-grid-section .slick-slide.dragging img {
      pointer-events: none; }
    .Collection-grid-section .slick-initialized .slick-slide {
      display: block; }
    .Collection-grid-section .slick-loading .slick-slide {
      visibility: hidden; }
    .Collection-grid-section .slick-vertical .slick-slide {
      display: block;
      height: auto;
      border: 1px solid transparent; }

      .Collection-grid-section	.slick-arrow.slick-hidden {
    display: none; }

  /*================ Slick Slider Theme ================*/
  .Collection-grid-section	.slick-loading .slick-list {
    background: #fff var(--slick-img-url) center center no-repeat; }

    .news__arrows{
    width: 80px;
    margin: 0 auto;
    position: absolute;
    right:47.5%;
    top: 10%;
  }

    [dir="rtl"] .Collection-grid-section	.slick-next {
      left: -25px;
      right: auto;
    }
    .Collection-grid-section	.slick-next:before {
      content: "\276F";
      font-weight: 600;
    }
      [dir="rtl"]
      .Collection-grid-section	.slick-next:before {
        content: "\276E";
      }
      @media (max-width: 529px) {
    .news__arrows{
      left: 4%;
    }
  }
 


</style>

<script>
  $('.Collection-cls').slick({
    infinite: true,
    arrows: true,
    slidesToShow: 4,
    slidesToScroll: 1,
    appendArrows: $('.news__arrows'),
    prevArrow: "<button type='button' class='slick-prev pull-left arrowidth'></button>",
    nextArrow: "<button type='button' class='slick-next pull-right arrowidth'></button>",
    responsive: [
      {
        breakpoint: 1025,
        settings: { 
          slidesToShow: 3,
          slidesToScroll: 1,
        },
      },
      {
        breakpoint: 800,
        settings: { 
          slidesToShow: 2,
          slidesToScroll: 1,
        },
      },
      {
        breakpoint: 600,
        settings: { 
          slidesToShow: 1,
          slidesToScroll: 1,
        },
      },
    ],
  });
</script>
