<div class="featured-products-main">
  <div class="width-container">
    <div class="common-heading ">
      <div class="section-header">
        {% if section.settings.headingtext != blank %}
          <h2 class="heading-text">{{ section.settings.headingtext }}</h2>
        {% endif %}
      </div>
    </div>

    <div class="f-collection-main {% if section.settings.checkimg %}right-img{% else %}left-img{% endif %}">
        <div class="f-collection-box">
        <div class="f-collection-grid-box">
          {% for product in section.settings.collectionproduct.products limit: 4 %}
            <div class="First-collection">
              <div class="image-collection">
                {% if product.featured_image != blank %}
                  <a href="{{ product.url }}">
                    <div class="product-img">
                      <img src="{{  product.featured_image  | img_url: 'large' }}" class="main-img" loading="lazy">
                      <img src="{{  product.images[1]  | img_url: 'large' }}" class="hover-image " loading="lazy">
                    </div>
                  </a>
                {% endif %}
                <div class="product-content-box">
                  <div class="product-title">
                    {{ product.title }}
                  </div>
                  <div class="pro-rate">
                    <div class="product-price">
                      <span class="grid-product__price--original">{{ product.compare_at_price | money }}</span>
                      {{- product.price | money }}
                    </div>
                    <div class="jdgm-widget jdgm-preview-badge">
                      {{ product.metafields.judgeme.badge }}
                    </div>
                  </div>

                  <form method="post" action="/cart/add" class="add-to-cart">
                    <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                    <input min="1" type="number" id="quantity" name="quantity" value="1" class="hide">
                    <input type="submit" value="Add to cart" class="btn">
                  </form>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="f-collection-img-box" style="background-image: url({{ section.settings.bgimg | img_url:'master' }};">
        <div class="disply">
          {% if section.settings.fhead != blank %}
            <div class="f-collection-head">{{ section.settings.fhead }}</div>
          {% endif %}
          {% if section.settings.fcolletionp != blank %}
            <div class="f-collection-p">{{ section.settings.fcolletionp }}</div>
          {% endif %}
          {% if section.settings.fbuttontext != blank %}
            <a href="{{section.settings.viewurl}}" class="f-collection-button">{{ section.settings.fbuttontext }}</a>
          {% endif %}
        </div>
      </div>
    
    </div>
  </div>
</div>

{% schema %}
{
  "name": "custom Featured Products",
  "settings": [
    {
      "type": "richtext",
      "id": "headingtext",
      "label": "Heading text"
    },
    {
      "type": "image_picker",
      "id": "bgimg",
      "label": "Background image"
    },
    {
      "id": "collectionproduct",
      "type": "collection",
      "label": "Select collection"
    },
    {
      "id": "fhead",
      "type": "text",
      "label": "Heading in image box"
    },
    {
      "id": "fcolletionp",
      "type": "text",
      "label": "Subheading"
    },
    {
      "id": "fbuttontext",
      "type": "text",
      "label": "Button text"
    },
    {
      "id": "viewurl",
      "type": "url",
      "label": "Button url"
    },
    {
      "id": "checkimg",
      "type": "checkbox",
      "label": "Left side Image"
    }
  ],
  "presets": [
    {
      "name": "custom Featured Products",
      "settings": {}
    }
  ]
}
{% endschema %}

<style>
  .featured-products-main .product-title {
    height: 60px !important ;
  }
  .featured-products-main {
    padding: 60px 0;
  }
  .f-collection-main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
  }
  .f-collection-box {
    width: 50%;
  }
  .f-collection-img-box {
    width: 50%;
    padding: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .f-collection-head {
    font-size: 30px;
    font-family: Montserrat Alternates;
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .f-collection-p {
    font-size: 14px;
    font-family: Montserrat Alternates;
    color: #fff;
    font-weight: 400;
    margin: 20px 0;
    margin-bottom: 30px;
  }
  .f-collection-button {
    font-family: Montserrat Alternates;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    background-color: #d0c272;
    padding: 10px 30px;
    border: 0;
  }
  .f-collection-grid-box {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 2fr));
  }
  .First-collection {
    margin-right:20px !important; 
  }
  .image-collection img {
    width: 100%;
  }
  .image-collection {
    border-radius: 50%;
  }
  .image-collection .product-img {
    position: relative;
    overflow: hidden;
    tarnsition: all 0.5s;
    /* z-index: -1;     */
  }

  .hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; /* Initially hide the second image */
    transition: opacity 0.3s ease; /* Add a smooth transition effect */
  }
.display{
  padding:50px 20px;
}
  .image-collection:hover .hover-image {
    opacity: 1;
  }
  .Main-collections .head h2.heading {
    font-family: 'sofia-pro';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    color: #95694c;
    margin: 0 0 50px;
    letter-spacing: normal;
  }
  .First-collection h2.title {
    font-family: 'sofia-pro-light' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #95694c;
    margin: 30px 0 0;
    letter-spacing: normal;
  }
  .First-collection h2.title a {
    color: #95694c;
  }

  .image-collection:hover .product-content-box {
    text-align: center;
    background-color: #ffffff;
    padding: 20px 0;
  }
  .product-content-box {
    text-align: center;
    padding: 20px 0;
  }

  .collection-view-all {
    background-color: #282828;
    padding: 10px 20px;
    margin-right: 15px;
    text-align: end;
  }
  .collection-view-all {
    color: #ffffff;
  }

  .view-all-button {
    text-align: end;
    margin-top: 30px;
    position: relative;
  }
  .f-collection-img-box {
    display: flex;
    align-items: center;
  }
    .f-collection-main.left-img .f-collection-img-box  {
    order: 1;
   padding-left:0;
  }

  .f-collection-main.right-img .f-collection-box {
    order: 1;
     padding-left:20px;
  }



  @media (max-width: 991px) {
    .f-collection-box {
      width: 100%;
    }
    .f-collection-img-box {
      width: 100%;
    }
  }
  @media (max-width: 576px) {
    .f-collection-grid-box {
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      padding: 15px;
    }
  }
</style>
