{% comment %} 


	<div class="swiper mySwiper banner">
		<div class="swiper-wrapper banner-height">
		{%- for block in section.blocks -%}
		  <div class="swiper-slide banner-slider">
			<img src="{{block.settings.banner_img |  img_url:'master' }}" alt="">
			<div class="banner-content">
                  <h1 class="banner-heading">{{block.settings.banner_heading}}</h1>
				  <button class="banner-sell-button"><a href="{{block.settings.sell_discount}}">{{block.settings.button1_text}}</a></button>
				  <button class="banner-collection-button"><a href="{{block.settings.collection_url}}"></a>{{block.settings.button2_text}}</button>
			</div>
		  </div>
		{% endfor %}
		</div>
		<div class="swiper-button-next"><i class="fa-solid fa-arrow-right"></i></div>
		  <div class="swiper-button-prev"><i class="fa-solid fa-arrow-left"></i></div>
		</div>
		



{% schema %}
  {
    "name": "custom banner section",
    "blocks": [
        {  
        "name": " banner slide",
		"type": "text",
        "settings": [
			{
            "type": "image_picker",
            "id": "banner_img",
            "label": "Banner img"
          },
		   {
            "type": "richtext",
            "id": "banner_heading",
            "label": "Bnanner headding"
          }, 
		  {
            "type": "text",
            "id": "button1_text",
            "label": "Button 1"
          },
		  {
            "type": "text",
            "id": "button2_text",
            "label": "Button 2"
          },
		  {
            "type": "url",
            "id": "collection_url",
            "label": "select collection"
          },
		  {
            "type": "url",
            "id": "sell_discount",
            "label": "select  discount collection"
          }
        ]
      }
    ],
    "presets": [{
        "name": "custom banner section"
      }
	]
  }
{% endschema %}

<style>
	.banner-slider{
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #E1DAD0;
		/* width: 1440px; */
	}
	/* .banner .swiper-wrapper{
		width: 1440px;
	} */
	/* .banner{
		background-color: #E1DAD0;
	} */
	.banner-content{
		position: absolute;
		left: 10%;
		text-align: left;
	}
	.banner-content .banner-heading{
		font-size: 64px;
	}
	.banner-content .banner-sell-button{
		font-size: 20px;
		outline: none;
		border: 0;
		padding: 10px 30px;
		border-radius: 25px;
		background-color: aqua;
		display:block;
		margin: 30px 0;
	}
	.banner-content .banner-collection-button{
		font-size: 20px;
		outline: none;
		border: 0;
		padding: 10px 30px;
		background-color: aquamarine;
	}
/* .swiper {
      width: 100%;
      height: 100%;
    } */

    .banner .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .banner .swiper-slide img {
      display: block;
      width: 90%;
      height: 100%;
      object-fit: cover;
    }
	.banner .swiper-button-next{
		color:red !important;
		border:2px solid #282828;
		justify-content: center;
		position: absolute;
		width: 35px;
		height: 35px;
		transform: rotate(45deg);
	}
	.banner .swiper-button-prev{
		color:red;
		border:2px solid #282828;
		justify-content: center;
        position: absolute;
		top: 50% !important;
		width: 35px;
		height: 35px;
		transform: rotate(45deg);
	}
	.banner .swiper-button-next i{
		transform: rotate(-45deg);
	}
	.banner .swiper-button-prev i{
        transform: rotate(-45deg);
	}
	/* .swiper-button-prev, .swiper-rtl .swiper-button-next{
		color:#000 !important;
		left: -5%;
		z-index: 99999;
	} */
</style>

 <script>
var swiper = new Swiper(".mySwiper", {
      rewind: true,
	  loop:true,	
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script> {% endcomment %}
