<div class="e_collection">
    <div class="width-container">
       <div class="grid-container">
         <div class="box_1">
            {% if section.settings.eimg1 != blank %}
             <div class="grid-item"><a href="{{section.settings.ecollectionurl1}}" class="e-collection-url"><img src="{{section.settings.eimg1 |  img_url:'master' }}" class="e-img lazyautosizes lazyloaded" alt="exploreimg" loading="lazy"></a></div>
            {% endif %}
            {% if section.settings.eimg2 != blank %}
             <div class="grid-item"> <a href="{{section.settings.ecollectionurl2}}" class="e-collection-url"><img src="{{section.settings.eimg2 |  img_url:'master' }}" class="e-img lazyautosizes lazyloaded" alt="exploreimg1" loading="lazy"></a></div>
            {% endif %}
         </div>
         <div class="box_2">
            {% if section.settings.eimg3 != blank %}
            <div class="grid-item"><a href="{{section.settings.ecollectionurl3}}"class="e-collection-url"> <img src="{{section.settings.eimg3 |  img_url:'master' }}" class="e-img lazyautosizes lazyloaded" alt="exploreimg3" loading="lazy"></a></div>
        {% endif %}
        {% if section.settings.eimg4 != blank %}
            <div class="grid-item"><a href="{{section.settings.ecollectionurl4}}"class="e-collection-url"> <img src="{{section.settings.eimg4 |  img_url:'master' }}" class="e-img lazyautosizes lazyloaded" alt="exploreimg2" loading="lazy"></a></div>
        {% endif %}
        {% if section.settings.eimg5 != blank %}
            <div class="grid-item"><a href="{{section.settings.ecollectionurl5}}"class="e-collection-url"><img src="{{section.settings.eimg5 |  img_url:'master' }}" class="e-img lazyautosizes lazyloaded" alt="exploreimg4" loading="lazy"></a></div>
        {% endif %}
         </div>
       </div>
    </div>
 </div>


{% schema %}
    {
      "name": "explore collection",
      "settings": [
        {
            "type": "image_picker",
            "id": "eimg1",
            "label": "Left img 1"
        },
        {
            "type": "image_picker",
            "id": "eimg2",
            "label": "Left img 2"
        },
        {
            "type": "image_picker",
            "id": "eimg3",
            "label": "Right img 1"
        },
        {
            "type": "image_picker",
            "id": "eimg4",
            "label": "Right img 2"
        },
        {
            "type": "image_picker",
            "id": "eimg5",
            "label": "Right img 3"
        },
        {
            "type": "url",
            "id": "ecollectionurl1",
            "label": "Left img 1 url"
        },
        {
            "type": "url",
            "id": "ecollectionurl2",
            "label": "Left img 2 url"
        },
        {
            "type": "url",
            "id": "ecollectionurl3",
            "label": "Right img 1 url"
        },
        {
            "type": "url",
            "id": "ecollectionurl4",
            "label": "Right img 2 url"
        },
        {
            "type": "url",
            "id": "ecollectionurl5",
            "label": "Right img 3 url"
        }
      ],
      "presets": [
        {
          "name": "explore collection"
        }
      ]
    }
{% endschema %}

 <style>
        
      .box_1{width:58%;display:flex;flex-direction:column;justify-content:space-between}.box_2{width:42%;display:flex;flex-direction:column;justify-content:space-between}.e_collection_main_box .box_1 .e_box_1{padding:0 10px}.grid-container{display:flex;gap:10px;width:100%;margin:0 auto}.grid-item{align-items:center;justify-content:center;font-size:1.5em;width:100%;overflow:hidden;border-radius:8px}.grid-item .e-img{border-radius:7px}.grid-item .e-img2{border-radius:7px;display:none}@media (max-width:600px){.grid-container{display:block}.box_1{width:100%;gap:5px}.box_2{width:100%;gap:5px}}
 </style>