<div class="explore">
  {%- for block in section.blocks -%}
    <div class="w-50">
      
      <div class="explore-box1">
        {% if block.settings.explore1 != blank %}
          <div class="explore-img">
            <img src="{{block.settings.explore1 |  img_url:'master' }}" alt="" class="explore_img_1">
            <div class="explore-content">
              <h1 class="content-heading">{{block.settings.heading_text}}</h1>
              <p class="content-p">{{block.settings.pargraph_text}}</p>
              <button class="explore-btn">
                <a href="#" class="explore-a"
                  >{{block.settings.button_text}} &nbsp; <i class="fa-solid fa-angle-right c-arrow-icon"></i
                ></a>
              </button>
            </div>
          </div>
        {% endif %}
      </div>
      </div>
    {% endfor %}
</div>

{% schema %}
{
  "name": "explore Section",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "background color"
    }
  ],
  "blocks": [
    {
      "name": " img box",
      "type": "text",
      "settings": [
        {
          "type": "image_picker",
          "id": "explore1",
          "label": " explore img "
        },
        {
          "type": "richtext",
          "id": "heading_text",
          "label": "heading text"
        },
        {
          "type": "text",
          "id": "pargraph_text",
          "label": "add paragraph"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "add button text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "explore section"
    }
  ]
}
{% endschema %}

<style>
  .explore .explore-box1,.explore-box2 {
    position: relative;
    object-fit: contain;
  }
  .explore {
    display: flex;
    background-color: {{section.settings.background_color}};
  }
  .explore .explore-content {
    position: absolute;
    background-color: #faf7ed;
    bottom: -15%;
    padding: 20px 10px ;
    left:5%;
    right:5%;
    text-align: center;
  }
  .explore-box1:nth-child(odd) {
    margin-right: 10px;
  }
  
  .w-50 {
    width: 50%;
  }
  .explore .content-heading{
    font-size: 36px;
    line-height: 36px;
    font-weight: 500;
    font-family: 'Fira Sans';
    color: #282828;
  }
  .explore .content-p{
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    font-family: 'Fira Sans';
    color: #777777;
  }
  .explore-btn{
    padding: 10px 20px;
    background-color: #282828;
    color:#ffffff;
  }
  .explore-a{
    color: #ffffff;
  }
  .explore-btn:hover .explore-a{
    color: #ffffff !important;
  }
  @media (max-width:1300px) {
    .explore .content-heading{
    font-size: 32px;
    line-height: 30px;
  }
  .explore .content-p{
    font-size: 18px;
  }

  }
  @media (max-width:1175px) {
    .explore .content-heading{
    font-size: 26px;
    line-height: 20px;
  }
  .explore .content-p{
    font-size: 16px;
  }

  }
  @media (max-width:1024px) {
    .explore .w-50{
      width: 100% !important;
    }
    .explore{
      display: block;
    }
    .explore .explore-content {
    bottom: 0;
    /* left:20%;
    right: 20%;*/
  }
  .explore-box1 {
    margin-right: 0;
  }
  .explore-box2 {
    margin-left: 0;
  }
  }
  @media (max-width:600px) {
    .explore .explore-content{
      position: static;
    }
  }
</style>
