<div class="millennium_main">
  <div class="millennium_main2">
    <div class="content_jewelery_1">
      <div class="box1">
        {% if section.settings.image_main != blank %}
          <div class="image1">
            <img src="{{ section.settings.image_main | img_url: 'master' }}" alt="" loading="lazy">
          </div>
        {% endif %}
        <div class="paragraph1">
          <h6 class="para_h6">{{ section.settings.para_head }}</h6>
          <h2 class="para_h2">{{ section.settings.company_name }}</h2>
          <p class="para_p">{{ section.settings.paragraph }}</p>
          <button class="para_button">
            <a href="{{ section.settings.jewelery_url_1 }}">
              {{ section.settings.button }}
              {% if section.settings.btn_img != blank %}
                <img src="{{ section.settings.btn_img |  img_url: 'master' }}" alt="" loading="lazy">
              {% endif %}
            </a>
          </button>
        </div>
      </div>
    </div>
    {% if section.settings.image1 != blank %}
      <div class="line">
        <img src="{{ section.settings.image1 | img_url: 'master' }}" alt="" loading="lazy">
      </div>
    {% endif %}
    <div class="content_jewelery_2">
      <div class="box2">
        <div class="paragraph2">
          <h6 class="para_h6">{{ section.settings.para_head2 }}</h6>
          <h2 class="para_h2_2">{{ section.settings.company_name2 }}</h2>
          <p class="para_p_2">{{ section.settings.paragraph2 }}</p>
          <button class="para_button">
            <a href="{{ section.settings.jewelery_url }}">
              {{ section.settings.button2 }}
              {% if section.settings.btn_img2 != blank %}
                <img src="{{ section.settings.btn_img2 | img_url: 'master' }}" alt="" loading="lazy">
              {% endif %}
            </a>
          </button>
        </div>
        {% if section.settings.image_main_1 != blank %}
          <div class="image1">
            <img src="{{ section.settings.image_main_1 | img_url: 'master' }}" alt="" loading="lazy">
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>


{%- schema -%}
  {
    "name": "millennium-jewelery",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_main",
        "label": "head image"
      },
      {
        "type": "text",
        "id": "para_head",
        "label": "heading"
      },
      {
        "type": "text",
        "id": "company_name",
        "label": "company name"
      },
      {
        "type": "text",
        "id": "paragraph",
        "label": "paragraph"
      }, {
        "type": "text",
        "id": "button",
        "label": "button"
      }, {
        "type": "image_picker",
        "id": "btn_img",
        "label": "button img"
      }, {
        "type": "url",
        "id": "jewelery_url_1",
        "label": "button url 1"
      }, {
        "type": "image_picker",
        "id": "image1",
        "label": "vactor img"
      }, {
        "type": "text",
        "id": "para_head2",
        "label": "heading 2"
      }, {
        "type": "text",
        "id": "company_name2",
        "label": "company name"
      }, {
        "type": "text",
        "id": "paragraph2",
        "label": "paragraph"
      }, {
        "type": "text",
        "id": "button2",
        "label": "button"
      }, {
        "type": "url",
        "id": "jewelery_url",
        "label": "button url"
      }, {
        "type": "image_picker",
        "id": "btn_img2",
        "label": "button img"
      }, {
        "type": "image_picker",
        "id": "image_main_1",
        "label": "head image 2"
      }
    ],
    "presets": [
      {
        "name": "millennium-jewelery"
      }
    ]
  }
{% endschema %}


<style>
    /* START CLS - 017 */

  * {
    margin: 0;
    padding: 0;
  }
  .millennium_main {
    width: 100%;
    height: auto;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    background: #FAF7ED;
  }

  .millennium_main2 {
    width: 1440px;
    position: relative;
    margin-top: 110px;
    margin-bottom: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 70px;
  }

  .content_jewelery_1 {
    width: 100%;
    height: 550px;
    display: flex;
    align-items: flex-start;
  }
  .content_jewelery_2 {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: flex-end;
  }


  .box1 {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .box2 {
    width: 100%;
    height: auto;
    padding: 0 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .line {
    width: 600px;
    position: absolute;
    top: 583px;
    right: 490px;
  }
  .line img {
    width: 100%;
  }
  .image1 {
    width: 450px;
    height: 550px;
  }

  .image1 img {
    width: 100%;
    height: 100%;
  }

  .paragraph1 {
    width: 650px;
    background: #EEDFC4;
    height: 450px;
    display: flex;
    padding: 40px 20px;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
  }

  .paragraph2 {
    width: 650px;
    background: #E1E5E6;
    height: 450px;
    display: flex;
    padding: 40px 20px;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
  }

  .para_h6 {
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 600;
    text-transform: none;
    font-family: "Montserrat Alternates";
  }

  .para_h2 {
    text-transform: none !important;
    font-size: 36px;
    font-family: "Italiana";
    color: #F37936;
  }

  .para_h2_2 {
    text-transform: none !important;
    font-size: 36px;
    color: #282828;
    font-family: "Italiana";

  }

  .para_p {
    font-size: 16px;
    color: #282828;
    font-weight: 600;
    font-family: "Montserrat Alternates";
    text-align: justify;
    margin-bottom: 35px;
  }

  .para_p_2 {
    font-size: 16px;
    color: #282828;
    font-family: "Montserrat Alternates";
    font-weight: 600;
    margin-bottom: 70px;
  }

  .para_button {
    font-size: 16px;
    font-weight: 500;
    color: white;
    font-family: "Fira Sans";
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    padding: 10px 0;
    background: rgb(31, 31, 31);
  }

  .para_button img {
    width: 25px;
    height: 25px;
    filter: invert(1);
  }
  .para_button a {
    color: #fff;
    display: flex;
    gap: 15px;
    align-items: center;
    text-decoration: none;
    background: transparent;
  }

  @media only screen and (max-width: 1100px) {
    .content_jewelery_1 {
      height: 450px;
    }

    .content_jewelery_2 {
      height: 450px;
    }

    .para_p_2 {
      margin-bottom: 20px;
    }
    .image1 {
      width: 350px;
      height: 450px;
    }

    .paragraph1 {
      width: 550px;
      height: 350px;
      padding: 10px;
    }


    .line {
      width: 530px;
      position: absolute;
      top: 490px;
      right: 370px;
    }

    .line img {
      width: 100%;
    }

    .paragraph2 {
      width: 550px;
      height: 350px;
      padding: 10px;
    }

    .para_h6 {
      font-size: 16px;
    }

    .para_h2 {
      font-size: 26px;
    }

    .para_p {
      font-size: 14px;
    }

    .para_button {
      font-size: 16px;
      font-weight: 600;
      color: white;
      width: 180px;
      padding: 9px 0;
    }

    .para_button img {
      width: 20px;
      height: 20px;
    }

    .box1 {
      padding: 0 10px;
    }

    .box2 {
      padding: 0 10px;
    }

  }

  @media only screen and (max-width: 900px) {

    .millennium_main2 {
      width: 90%;
    }

    .content_jewelery_1 {
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .content_jewelery_2 {
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .box1 {
      width: 90%;
      display: flex;
      padding: 0 10px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .box2 {
      width: 90%;
      display: flex;
      padding: 0 10px;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
    }

    .image1 {
      margin-bottom: -6px;
      width: 100%;
      height: 100%;
    }

    .paragraph1 {
      width: 100%;
      height: auto;
      padding: 10px;
    }

    .paragraph2 {
      width: 100%;
      height: auto;
      padding: 10px;
    }
  }


  @media only screen and (max-width: 921px) {
    .line {
      display: none;
    }
    .millennium_main2 {
      margin-bottom: 250px;
    }
  }

  @media only screen and (max-width: 540px) {
    .millennium_main2 {
      margin-bottom: 250px;
    }
  }
  @media only screen and (max-width: 490px) {

    .box1 {
      width: 95%;
      padding: 0;
    }

    .box2 {
      width: 95%;
      padding: 0;
    }
  }

  @media only screen and (max-width: 359px) {
    .millennium_main2 {
      margin-bottom: 250px;
    }
  }
  /* END CLS - 017 */

</style>