{%- liquid
  assign recommend_products = true

  if recommendations.products and recommendations.products_count > 0
    assign related_collection = recommendations
  endif

  for tag in product.tags
    if tag contains '_related'
      assign include_collection_handle = tag | split: '_' | last
      assign include_collection = collections[include_collection_handle]
      if include_collection != empty and include_collection.products_count > 0
        assign related_collection = include_collection
        assign recommend_products = false
        break
      endif
    endif
  endfor

  assign number_of_products = section.settings.related_count
-%}

{%- if section.settings.show_product_recommendations -%}
  <div
    class="product_re"
    id="Recommendations-{{ product.id }}"
    data-section-id="{{ product.id }}"
    data-section-type="product-recommendations"
    data-enable="{{ recommend_products }}"
    data-product-id="{{ product.id }}"
    data-url="{{ routes.product_recommendations_url }}"
    data-limit="{{ number_of_products }}"
  >
    <div
      data-section-id="{{ product.id }}"
      data-subsection
      data-section-type="collection-grid"
      class="index-section"
    >
      <div class="page-width">
        <header class="section-header">
          <h2 class="heading-text">{{ section.settings.headingtext }}</h2>
        </header>
      </div>

      <div class="page-width page-width--flush-small">
        <div class="grid-overflow-wrapper">
          {%- if recommend_products -%}
            <div class="product-recommendations-placeholder">
              {% comment %}
                This content is visually hidden and replaced when recommended products show up
              {% endcomment %}
              <div class="grid grid--uniform visually-invisible " aria-hidden="true">
                {%- render 'product-grid-item', product: product, quick_shop_enable: settings.quick_shop_enable -%}
              </div>
            </div>
          {%- endif -%}
          {%- if related_collection.products_count > 1 -%}
            <div class="product-recommendations ">
              <div class="grid grid--uniform product-recommendations-slider" data-aos="overflow__animation">
                {%- for product in related_collection.products limit: number_of_products -%}
                  <div class="slick-slide">
                    {%- render 'product-grid-item',
                      product: product,
                      per_row: number_of_products,
                      quick_shop_enable: settings.quick_shop_enable
                    -%}
                  </div>
                {%- endfor -%}
              </div>
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
    <div class="news__arrows3"></div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Product recommendations",
  "settings": [
    {
      "type": "richtext",
      "id": "headingtext",
      "label": "Heading text"
    },
    {
      "type": "checkbox",
      "id": "show_product_recommendations",
      "label": "Show dynamic recommendations",
      "info": "Dynamic recommendations change and improve with time. [Learn more](https://help.shopify.com/en/themes/development/recommended-products)",
      "default": true
    },
    {
      "type": "text",
      "id": "product_recommendations_heading",
      "label": "Heading",
      "default": "You may also like"
    },
    {
      "type": "range",
      "id": "related_count",
      "label": "Number of related products",
      "default": 5,
      "min": 2,
      "max": 6,
      "step": 1
    }
  ]
}
{% endschema %}
<style>
  .product_re {
    position: relative;
  }
  .news__arrows3 {
    width: 80px;
    margin: 0 auto;
    position: absolute;
    right:47.5%;
    /* top: 10%; */
  }
  .product_re .slick-next {
    border: 3px solid #282828;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: #282828;
  }
  .product_re .slick-prev {
    border: 3px solid #282828;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: #282828;
  }

  .product_re .slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 100%;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
  }

  .product_re .slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
  }
  .product_re .slick-list:focus {
    outline: none;
  }
  .product_re .slick-list.dragging {
    cursor: pointer;
    cursor: hand;
  }

  .product_re .slick-slider .slick-track,
  .product_re .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  /* .product_re .slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
  } */
  .product_re .slick-track:before,
  .product_re .slick-track:after {
    content: '';
    display: table;
  }
  .product_re .slick-track:after {
    clear: both;
  }
  .product_re .slick-loading .slick-track {
    visibility: hidden;
  }
  .product-recommendations {
    width: 100%;
    margin: 0 auto;
  }
  .product_re .slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
    text-align: center;
    padding: 10px;
    width: auto;
  }
  .slick-slide .grid__item {
    width: 100%;
  }
  [dir='rtl'] .product_re .slick-slide {
    float: right;
  }
  .product_re .slick-slide img {
    display: block;
  }
  .product_re .slick-slide.slick-loading img {
    display: none;
  }
  .product_re .slick-slide.dragging img {
    pointer-events: none;
  }
  .product_re .slick-initialized .slick-slide {
    display: block;
  }
  .product_re .slick-loading .slick-slide {
    visibility: hidden;
  }
  .product_re .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }

  .product_re .slick-arrow.slick-hidden {
    display: none;
  }

  /*================ Slick Slider Theme ================*/
  .product_re .slick-loading .slick-list {
    background: #fff var(--slick-img-url) center center no-repeat;
  }

  [dir='rtl'] .product_re .slick-prev {
    left: auto;
    top: 50%;
  }
  .product_re .slick-prev:before {
    content: '\276E';
    font-weight: 900;
  }
  [dir='rtl'] .product_re .slick-prev:before {
    content: '\276F';
  }

  [dir='rtl'] .product_re .slick-next {
    left: -25px;
    right: auto;
  }
  .product_re .slick-next:before {
    content: '\276F';
    font-weight: 900;
  }
  [dir='rtl'] .product_re .slick-next:before {
    content: '\276E';
  }
  @media (max-width:768px) {
    .product_re .slick-prev:before {
    line-height: 1.8;
  }
    .product_re .slick-next:before {
    line-height: 1.8;
  }
  }
  @media (max-width:540px) {
    .news__arrows3 {
    left: 40%;
  }
  }
</style>
<script type="text/javascript">
  $(document).ready(function () {
    console.log($('.product-recommendations-slider').html());
    const myInterval = setInterval(function () {
      $recommendationslider = $('.product-recommendations-slider');
      console.log($recommendationslider.length);
      if ($recommendationslider.length > 0) {
        clearInterval(myInterval);
        $('.product-recommendations-slider').slick({
          infinite: true,
          slidesToShow: 4,
          slidesToScroll: 1,
          appendArrows: $('.news__arrows3'),
          prevArrow: "<button type='button' class='slick-prev pull-left arrowidth'></button>",
          nextArrow: "<button type='button' class='slick-next pull-right arrowidth'></button>",
          // dots: true,
          // arrow: true,
          responsive: [
            {
            breakpoint: 1024,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 768,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
            },
          ],
        });
      }
    });
  });
</script>
