<div class="Shipping_partner">
  <div class="Shipping_partner_1">
    <div class="head_img">
      {% if section.settings.heading_side_image != blank %}
        <div class="side_image">
          <img src="{{ section.settings.heading_side_image | img_url: 'master' }}" alt="">
        </div>
      {% endif %}
      <div>
        <h1>{{ section.settings.header }}</h1>
      {% comment %} <img src="{{ section.settings.heading_underline | img_url: 'master' }}" alt=""> {% endcomment %}
      </div>
      {% if section.settings.heading_side_image != blank %}
        <div class="side_image">
          <img src="{{ section.settings.heading_side_image | img_url: 'master' }}" alt="">
        </div>
      {% endif %}
    </div>
    <div class="shipping_image">
      {%- for block in section.blocks -%}
        <div class="box_content_1">
          {% if block.settings.box_image_1 != blank %}
            <div class="box_image_1">
              <img src="{{block.settings.box_image_1 | img_url: 'master'}}" alt="">
            </div>
          {% endif %}
          <div class="box_img_paragraph">
            <p>{{ block.settings.box_content }}</p>
            {% if block.settings.box_arrow != blank %}
              <img src="{{block.settings.box_arrow | img_url: 'master'}}" alt="">
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="shipping_video">
      <video
        src="{{ section.settings.Video_2 }}"
        controls
        autoplay
        muted
        loop></video>
    </div>
  </div>
</div>


{%- schema -%}
  {
    "name": "Shipping-partner",
    "settings": [
      {
        "type": "image_picker",
        "id": "bg_image_1",
        "label": "bg_img"
      },
      {
        "type": "image_picker",
        "id": "heading_side_image",
        "label": "heading_side_image"
      },
      {
        "type": "image_picker",
        "id": "heading_underline",
        "label": "heading_underline"
      },
      {
        "type": "text",
        "id": "header",
        "label": "heading"
      }, {
        "type": "video",
        "id": "Video_2",
        "label": "video_watch"
      }
    ],
    "blocks": [
      {
        "name": "block",
        "type": "text",
        "settings": [
          {
            "type": "image_picker",
            "id": "box_image_1",
            "label": "box image"
          }, {
            "type": "text",
            "id": "box_content",
            "label": "box content"
          }, {
            "type": "image_picker",
            "id": "box_arrow",
            "label": "box arrow"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Shipping-partner"
      }
    ]
  }
{% endschema %}


<style>
  * {
    margin: 0;
    padding: 0;
  }

  .shipping_video {
    width: 100%;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .shipping_video video {
    width: 60%;
    border: 6px solid white;
    border-radius: 70px;
  }

  .side_image {
    width: 450px;
    margin-top: 100px;
  }
  .side_image img {
    width: 100%;
  }
  .Shipping_partner {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0F0F0;
  }
  .Shipping_partner_1 {
    width: 100%;
    background-image: url("{{ section.settings.bg_image_1 | img_url: 'master' }}");
    height: auto;
    background-position: top;
    margin-top: -102px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .head_img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 70px 0;
  }
  .head_img h1 {
    font-family: "Italiana";
    color: #fff;
    font-size: 64px;
    font-weight: 400;
    line-height: 83.43px;
    letter-spacing: 0.1em;
    text-align: center;
    padding-top: 100px;
    text-transform: none;
  }
  .shipping_image {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .box_content_1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 225px;
    height: 225px;
    background-color: #313131;
  }

  .box_image_1 {
    width: 97.51px;
    height: 100.22px;
  }
  .box_image_1 img {
    width: 100%;
    height: 100%;
  }
  .box_img_paragraph {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
  }
  .box_img_paragraph p {
    font-family: "Montserrat Alternates";
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    Color: #777777;
  }
  .box_img_paragraph img {
    width: 24px;
    height: 24px;
    filter: invert(50%);
    cursor: pointer;
  }

  .box_content_1:hover {
    outline: 1px solid white;
    transition: 0.3s;
  }

  .box_content_1:hover .box_img_paragraph p {
    color: white;
    transition: 0.3s;
  }

  .box_content_1:hover .box_img_paragraph img {
    filter: invert(1);
    transition: 0.3s;
  }


  @media (max-width: 1024px) {
    .head_img h1 {
      font-size: 40px;
      line-height: 0;
      padding-top: 100px;
    }

    .side_image {
      width: 250px;
      margin-top: 100px;
    }

    .box_content_1 {
      width: 200px;
      height: 200px;
    }

    .box_img_paragraph p {
      font-size: 14px;
    }

    .box_img_paragraph img {
      width: 20px;
      height: 20px;
    }
    .shipping_image {
      margin-bottom: 139px;
    }
    .shipping_video video {
      width: 70%;
      border-radius: 50px;
    }
  }


  @media (max-width: 890px) {

    .head_img h1 {
      font-size: 40px;
      line-height: 0;
      padding-top: 100px;
    }
    .head_img {
      margin: 90px 0;
    }

    .side_image {
      width: 150px;
      margin-top: 100px;
    }


    .box_content_1 {
      width: 185px;
      height: 200px;
    }
  }
  @media (max-width: 827px) {

    .head_img {
      margin: 50px 0;
    }
    .shipping_image {
      margin-bottom: 50px;
    }

  }

  @media (max-width: 642px) {
    .side_image {
      display: none;
    }

    .head_img {
      margin: 65px 0;
    }
    .shipping_image {
      margin-bottom: 95px;
    }

    .shipping_video video {
      width: 75%;
      border-radius: 40px;
    }
  }


  @media (max-width: 425px) {

    .box_image_1 {
      width: 75.51px;
      height: 67.22px;
    }

    .box_img_paragraph p {
      font-size: 11px;
    }

    .box_img_paragraph img {
      width: 16px;
      height: 16px;
    }

    .box_content_1 {
      width: 150px;
      height: 160px;
    }

    .box_img_paragraph {
      gap: 10px;
    }
    .shipping_image {
      gap: 10px;
    }
    .head_img {
      margin: 85px 0;
    }
    .shipping_video video {
      width: 95%;
      border-radius: 18px;
    }
    .shipping_image {
      margin-bottom: 133px;
    }
  }

  @media (max-width: 342px) {
    .head_img h1 {
      font-size: 32px;
    }

  }

  @media (max-width: 310px) {
    .head_img h1 {
      padding-top: 55px;
    }
    .head_img {
      margin-bottom: 35px;
    }
    .box_content_1 {
      width: 140px;
      height: 160px;
    }
    .shipping_image {
      gap: 5px;
    }
  }


  @media (max-width: 285px) {
    .shipping_image {
      margin-bottom: 15px;
    }
  }


</style>