<div class="Shipping_partner">
  <div class="Shipping_partner_1">
    <div class="head_img">
      {% if section.settings.heading_side_image != blank %}
        <div class="side_image">
          <img src="{{ section.settings.heading_side_image | img_url: 'master' }}" alt="">
        </div>
      {% endif %}
      <div>
        <h1 class="head_1">{{ section.settings.header }}</h1>
        {% comment %} <img src="{{ section.settings.heading_underline | img_url: 'master' }}" alt=""> {% endcomment %}
      </div>
      {% if section.settings.heading_side_image != blank %}
        <div class="side_image">
          <img src="{{ section.settings.heading_side_image | img_url: 'master' }}" alt="">
        </div>
      {% endif %}
    </div>
    <div class="swiper shippingSwiper shipping_swiper">
        <div class="swiper-wrapper">
          {%- for block in section.blocks -%}
            <div class="swiper-slide">
              <div class="myshipping_slider">
              {% if block.settings.box_image_1 != blank %}
                <div class="box_image_1">
                  <img src="{{block.settings.box_image_1 | img_url: 'master'}}" alt="">
                </div>
              {% endif %}
              <div class="box_img_paragraph">
                <p>{{ block.settings.box_content }}</p>
                {% if block.settings.box_arrow != blank %}
                  <img src="{{block.settings.box_arrow | img_url: 'master'}}" alt="">
                {% endif %}
              </div>
            </div>
            </div>
          {% endfor %}
        </div>
    </div>
    <div class="shipping_video">
      <video
        loop
        muted
        autoplay
        playsinline>
        <source src="{{ section.settings.Video_2  }}" type="video/mp4">
      </video>
    </div>
  </div>
</div>

{%- schema -%}
{
  "name": "Shipping-partner",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image_1",
      "label": "bg_img"
    },
    {
      "type": "image_picker",
      "id": "heading_side_image",
      "label": "heading_side_image"
    },
    {
      "type": "image_picker",
      "id": "heading_underline",
      "label": "heading_underline"
    },
    {
      "type": "text",
      "id": "header",
      "label": "heading"
    },
    {
      "type": "url",
      "id": "Video_2",
      "label": "video_watch"
    }
  ],
  "blocks": [
    {
      "name": "block",
      "type": "text",
      "settings": [
        {
          "type": "image_picker",
          "id": "box_image_1",
          "label": "box image"
        },
        {
          "type": "text",
          "id": "box_content",
          "label": "box content"
        },
        {
          "type": "image_picker",
          "id": "box_arrow",
          "label": "box arrow"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Shipping-partner"
    }
  ]
}
{%- endschema -%}

<style>
  /* START CLS - 017 */
  .head_1 {
    color: #F0F0F0 !important;
    font-size: 64px;
    font-weight: 400;
    line-height: 83.43px;
    font-family: 'Italiana' !important;
    text-transform: capitalize !important;
    position: relative;
    text-align: center;
  }

  .head_1::after {
    background: linear-gradient(90deg, #282828 0%, #F0F0F0 48%, #282828 100%) !important;
    height: 2px;
    width: 100% !important;
    bottom: -15px;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
  }


  .shipping_video {
    width: 100%;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .shipping_video video {
    width: 60%;
    border: 6px solid white;
    border-radius: 70px;
  }

  .side_image {
    width: 450px;
    margin-top: 100px;
  }
  .side_image img {
    width: 100%;
  }
  .Shipping_partner {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0F0F0;
  }
  .Shipping_partner_1 {
    width: 100%;
    background-image: url("{{ section.settings.bg_image_1 | img_url: 'master' }}");
    height: auto;
    background-position: top;
    margin-top: -100px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .head_img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 70px;
  }

  .shipping_image {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .box_content_1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 225px;
    height: 225px;
    /* background-color: #313131; */
  }

  .box_image_1 {
    width: 97.51px;
    height: 100.22px;
    margin: 0 auto;
  }
  .box_image_1 img {
    width: 100%;
    height: 100%;
  }
  .box_img_paragraph {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 20px; */
  }
  .box_img_paragraph p {
    font-family: "Montserrat Alternates";
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    Color: #777777;
  }
  .box_img_paragraph img {
    width: 24px;
    height: 24px;
    filter: invert(50%);
    cursor: pointer;
  }

  .box_content_1:hover {
    outline: 1px solid white;
    transition: 0.3s;
  }

  .box_content_1:hover .box_img_paragraph p {
    color: white;
    transition: 0.3s;
  }

  .box_content_1:hover .box_img_paragraph img {
    filter: invert(1);
    transition: 0.3s;
  }

  .shipping_swiper{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 50px;

  }
  .myshipping_slider:hover{
    outline: 1px solid white;
    transition: 0.3s;
  }
  .myshipping_slider{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin: 10px;
  }
  @media (max-width: 1201px) {
    .head_1 {
      font-size: 50px;
    }
  }


  @media (max-width: 1100px) {

    .shipping_image {
      width: 50%;
    }
    .head_img {
      margin-bottom: 40px;
    }
    .box_content_1 {
      width: 205px;
      height: 175px;
    }
  }
  @media (max-width: 1024px) {


    .side_image {
      width: 250px;
      margin-top: 100px;
    }

    .box_content_1 {
      width: 200px;
      height: 200px;
    }

    .box_img_paragraph p {
      font-size: 14px;
    }

    .box_img_paragraph img {
      width: 20px;
      height: 20px;
    }
    .shipping_image {
      margin-bottom: 50px;
    }
    .shipping_video video {
      width: 70%;
      border-radius: 50px;
    }
  }

  @media (max-width: 800px) {

    .shipping_image {
      width: 70%;
      gap: 20px;
    }
    .head_img {
      margin-bottom: 40px;
    }
    .box_content_1 {
      width: 205px;
      height: 175px;
    }
  }

  @media (max-width: 890px) {

    .head_img {
      margin: 90px 0;
    }

    .side_image {
      width: 150px;
      margin-top: 100px;
    }


    .box_content_1 {
      width: 185px;
      height: 200px;
    }
  }
  @media (max-width: 827px) {

    .head_img {
      margin-top: 100px;
      margin-bottom: 50px;
    }
    .shipping_image {
      margin-bottom: 50px;
    }

  }
  @media (max-width: 768px) {
    .shipping_swiper{
      width: 90%;
    }
  }
  @media (max-width: 642px) {
    .side_image {
      display: none;
    }

    .shipping_image {
      margin-bottom: 95px;
    }

    .shipping_video video {
      width: 75%;
      border-radius: 40px;
    }
  }


  @media (max-width: 557px) {
    .shipping_image {
      width: 100%;
    }
  }
  @media (max-width: 576px) {
    .head_1 {
      font-size: 40px;
      line-height: 40.43px;

    }
    .Shipping_partner_1 {
      margin-top: -50px;
    }
  }

  @media (max-width: 425px) {

    .box_image_1 {
      width: 75.51px;
      height: 67.22px;
    }
    .box_img_paragraph p {
      font-size: 11px;
    }

    .box_img_paragraph img {
      width: 16px;
      height: 16px;
    }

    .box_content_1 {
      width: 150px;
      height: 160px;
    }

    .box_img_paragraph {
      gap: 10px;
    }
    .shipping_image {
      gap: 10px;
    }
    .head_img {
      margin: 85px 0;
    }
    .shipping_video video {
      width: 95%;
      border-radius: 18px;
    }
    .shipping_image {
      margin-bottom: 133px;
    }
  }

  @media (max-width: 310px) {
    .head_img h1 {
      padding-top: 55px;
    }
    .box_content_1 {
      width: 140px;
      height: 160px;
    }
    .shipping_image {
      gap: 5px;
    }
  }


  @media (max-width: 285px) {
    .shipping_image {
      margin-bottom: 15px;
    }
  }

  /* END CLS - 017 */
</style>

<script>

$(document).ready(function() { 
  var shippingSwiper = new Swiper('.shippingSwiper', {
    slidesPerView: 4,
    loop: true,
    freeMode: true,
    spaceBetween: 30,
    speed: 5000,
    autoplay: {
      delay: 3000,
      disableOnInteraction: false,
    },
    loopAddBlankSlides: true,
    grabCursor: true,
    loopAdditionalSlides: 2,
    // cssMode: true,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    breakpoints: {
      320: {
        slidesPerView: 1,
        spaceBetween: 30,
      },
      577: {
        slidesPerView: 2,
        spaceBetween: 30,
      },
      768: {
        slidesPerView: 2,
        spaceBetween: 30,
      },
      800: {
        slidesPerView: 3,
        spaceBetween: 30,
      },
      900: {
        slidesPerView: 3,
        spaceBetween: 30,
      },
      1020: {
        slidesPerView: 3,
        spaceBetween: 30,
      },
      1100: {
        slidesPerView: 4,
        spaceBetween: 30,
      },
    },
  });
});
</script>