<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<div class="slider_section">
  {% if section.settings.heading != blank %}
    <div class="common-heading ">
      <div class="section-header">
        <h2 class="slider_head">{{ section.settings.heading }}</h2>
      </div>
    </div>
  {% endif %}
  <div class="swiper testimonialSwiper">
    <div class="gradiant"></div>
    <div class="gradiant_1"></div>
    <div class="swiper-wrapper">
      {%- for block in section.blocks -%}
        <div class="swiper-slide">
          <div class="review-box">
            <div class="reviewimage">
              {% if block.settings.box_image != blank %}
                <img src="{{ block.settings.box_image |  img_url: 'master' }}" class="lazyload" loading="lazy" alt=""/>
              {% endif %}
              </div>
              <div class="lorem_content">{{ block.settings.content }}</div>
              <div class="name">{{ block.settings.customername }}</div>
              <div class="country">{{ block.settings.country }}</div>
              </div>
              </div>
            {%- endfor -%}
            </div>
            <div class="slider_button swiper-button-prev">
              <i class="fa-solid fa-chevron-left"></i>
              </div>
              <div class="slider_button swiper-button-next">
                <i class="fa-solid fa-chevron-right"></i>
                </div>
  </div>
</div>
{%- schema -%}
  {
    "name": "Slider Testimonial",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "text",
        "settings": [
          {
            "type": "image_picker",
            "id": "box_image",
            "label": "image box"
          }, {
            "type": "richtext",
            "id": "content",
            "label": "Review message"
          }, {
            "type": "text",
            "id": "customername",
            "label": "Customer name"
          }, {
            "type": "text",
            "id": "country",
            "label": "Country name"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Slider Testimonial"
      }
    ]
  }
{% endschema %}

<style>
  /* START CLS - 017 */
  .swiper-grid-column > .swiper-wrapper {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .slider_section .swiper-slide:nth-child(odd) {
    color: #000000 !important;
  }

  .slider_section .swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .slider_section .swiper-slide {
    text-align: center;
    font-size: 18px;
    height: calc((100% - 30px) / 2) !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .reviewimage {
    text-align: left;
  }

  .slider_section .swiper-button-prev{
    border: 3px solid #282828;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    color:#282828;
  }
  .slider_section .swiper-button-next{
    border: 3px solid #282828;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    color: #282828;
  }

  /* .fa-chevron-left {
    margin-left: 30px;
  }

  .fa-chevron-right {
    margin-right: 30px;
  } */

  .review-box {
    /* margin: 10px; */
    padding: 15px 23px;
  }

  .lorem_content {
    font-family: "Montserrat Alternates";
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    padding-top: 12px;
    max-height: 110px;
    overflow: hidden;
  }

  .name {
    font-family: "Montserrat Alternates";
    font-size: 18px;
    margin-top: 18px;
    margin-bottom: 10px;
    color: #282828;
    font-weight: 700;
    text-align: left;
  }

  .country {
    font-family: "Montserrat Alternates";
    font-size: 14px;
    Color: #777777;
    font-weight: 600;
    word-spacing: 0;
    letter-spacing: 0;
    text-transform: none;
    text-align: left;
  }

  .slider_head {
    color: #282828 !important;
    font-size: 60px;
    font-weight: 400;
    line-height: 83.43px;
    font-family: 'Italiana' !important;
    text-transform: capitalize !important;
    position: relative;
    padding: 100px 30px 0;
    margin-bottom: 80px;
  }

  .slider_head::after {
    background: linear-gradient(90deg, #F0F0F0 0%, #282828 48%, #F0F0F0 100%) !important;
    height: 2px;
    width: auto;
    bottom: -15px;
    position: absolute;
    content: "";
    left: 32%;
    right: 32%;
  }

  .gradiant {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100px;
    background: linear-gradient(270deg, rgba(240, 240, 240, 0) 0%, #F0F0F0 80%);
    z-index: 2;
  }

  .gradiant_1 {
    position: absolute;
    right: 0;
    height: 100%;
    width: 100px;
    background: linear-gradient(90deg, rgba(240, 240, 240, 0) 0%, #F0F0F0 80%);
    z-index: 2;
  }

  @media (max-width: 1200px) {
    .slider_head {
      font-size: 46px;
    }
  }

  @media (max-width: 576px) {
    .slider_head {
      font-size: 36px;
    }
    .review-box {
      margin: 0 55px;
    }

  }

 

  @media (max-width: 700px) {
    .gradiant_1 {
      display: none;
    }
    .gradiant {
      display: none;
    }
  }

  @media (max-width: 650px) {
    .slider_head {
      line-height: 50px;
    }
  }

  @media (max-width: 425px) {
    
    .review-box {
      margin: 0 45px;
      padding: 12px;
    }
    .reviewimage {
      width: 30px;
      height: 30px;
    }
    .lorem_content {
      font-size: 12px;
    }
    .name {
      font-size: 16px;
    }
    .country {
      font-size: 14px;
    }
  }
  /* END CLS - 017 */

</style>


<script>
  document.addEventListener('DOMContentLoaded', function(event) {
    event.preventDefault();

    var swiper = new Swiper(".testimonialSwiper", {
      slidesPerView: 4,
      spaceBetween: 30,
      loop: true,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      mousewheel: true,
      keyboard: true,
      breakpoints: {
        // Below 375px
        320: {
          slidesPerView: 1, // Ensure this is applied for very small screens
          spaceBetween: 20, // You can also reduce the space between slides
        },
        375: {
          slidesPerView: 1,
          spaceBetween: 20,
        },
        576: {
          slidesPerView: 1,
          spaceBetween: 30,
        },
        600: {
          slidesPerView: 2,
          spaceBetween: 30,
        },
        768: {
          slidesPerView: 2,
        },
        800: {
          slidesPerView: 3,
        },
        1000: {
          slidesPerView: 4,
        },
      },
    });

    swiper.update(); // Force update in case the breakpoints aren't working properly.
  });
</script>