<div class="slider_section_1">
  <div class="slider_section_2">
    <div class="heading">
      <h1>Let customers speak for us</h1>
    </div>
    <div class="swiper mSwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="box_1">
            <img src="{{ section.settings.box_image | img_url: 'master' }}" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci voluptatibus omnis illum dolores. Obcaecati molestias ullam aliquid, doloremque suscipit reprehenderit assumenda adipisci iusto laborum, veniam aliquam, iure totam sint neque.</p>
            <h2>Russell H</h2>
            <h6>united Kingdom, 1 month ago</h6>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="box_1">
            <img src="{{ section.settings.box_image | img_url: 'master' }}" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci voluptatibus omnis illum dolores. Obcaecati molestias ullam aliquid, doloremque suscipit reprehenderit assumenda adipisci iusto laborum, veniam aliquam, iure totam sint neque.</p>
            <h2>Russell H</h2>
            <h6>united Kingdom, 1 month ago</h6>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="box_1">
            <img src="{{ section.settings.box_image | img_url: 'master' }}" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci voluptatibus omnis illum dolores. Obcaecati molestias ullam aliquid, doloremque suscipit reprehenderit assumenda adipisci iusto laborum, veniam aliquam, iure totam sint neque.</p>
            <h2>Russell H</h2>
            <h6>united Kingdom, 1 month ago</h6>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="box_1">
            <img src="{{ section.settings.box_image | img_url: 'master' }}" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci voluptatibus omnis illum dolores. Obcaecati molestias ullam aliquid, doloremque suscipit reprehenderit assumenda adipisci iusto laborum, veniam aliquam, iure totam sint neque.</p>
            <h2>Russell H</h2>
            <h6>united Kingdom, 1 month ago</h6>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="box_1">
            <img src="{{ section.settings.box_image | img_url: 'master' }}" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci voluptatibus omnis illum dolores. Obcaecati molestias ullam aliquid, doloremque suscipit reprehenderit assumenda adipisci iusto laborum, veniam aliquam, iure totam sint neque.</p>
            <h2>Russell H</h2>
            <h6>united Kingdom, 1 month ago</h6>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="box_1">
            <img src="{{ section.settings.box_image | img_url: 'master' }}" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci voluptatibus omnis illum dolores. Obcaecati molestias ullam aliquid, doloremque suscipit reprehenderit assumenda adipisci iusto laborum, veniam aliquam, iure totam sint neque.</p>
            <h2>Russell H</h2>
            <h6>united Kingdom, 1 month ago</h6>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="box_1">
            <img src="{{ section.settings.box_image | img_url: 'master' }}" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci voluptatibus omnis illum dolores. Obcaecati molestias ullam aliquid, doloremque suscipit reprehenderit assumenda adipisci iusto laborum, veniam aliquam, iure totam sint neque.</p>
            <h2>Russell H</h2>
            <h6>united Kingdom, 1 month ago</h6>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="box_1">
            <img src="{{ section.settings.box_image | img_url: 'master' }}" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci voluptatibus omnis illum dolores. Obcaecati molestias ullam aliquid, doloremque suscipit reprehenderit assumenda adipisci iusto laborum, veniam aliquam, iure totam sint neque.</p>
            <h2>Russell H</h2>
            <h6>united Kingdom, 1 month ago</h6>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="box_1">
            <img src="{{ section.settings.box_image | img_url: 'master' }}" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci voluptatibus omnis illum dolores. Obcaecati molestias ullam aliquid, doloremque suscipit reprehenderit assumenda adipisci iusto laborum, veniam aliquam, iure totam sint neque.</p>
            <h2>Russell H</h2>
            <h6>united Kingdom, 1 month ago</h6>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev">
        <img src="https://cdn-icons-png.flaticon.com/128/2985/2985162.png" alt="">
      </div>
      <div class="swiper-button-next">
        <img src="https://cdn-icons-png.flaticon.com/128/1549/1549454.png" alt="">
      </div>
    </div>
  </div>
</div>
{%- schema -%}
  {
    "name": "slider",
    "settings": [
      {
        "type": "image_picker",
        "id": "box_image",
        "label": "image box"
      }
    ],
    "presets": [
      {
        "name": "slider"
      }
    ]
  }
{% endschema %}

<style>
  .swiper-grid-column > .swiper-wrapper {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .swiper-slide:nth-child(odd) {
    color: #000000 !important;
  }
  .swiper {
    width: 100%;
    height: 100%;
    background-color: #F0F0F0;
    margin-left: auto;
    margin-right: auto;
  }

  .slider_section_1 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0F0F0;
  }


  .slider_section_2 {
    width: 100%;
    margin-top: 110px;
    margin-bottom: 100px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .heading h1 {
    font-family: "Italiana";
    font-size: 64px;
    font-weight: 400;
    line-height: 83.43px;
    letter-spacing: 0.1em;
    text-align: center;

  }
  .swiper-wrapper {
    align-items: baseline;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: calc((100% - 30px) / 2) !important;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box_1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: space-around;
    padding: 10px 18px;
  }
  .box_1 img {
    width: 36px;
    height: 30px;
  }
  .box_1 p {
    font-family: "Montserrat Alternates";
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    padding-top: 12px;
  }
  .box_1 h2 {
    font-family: "Montserrat Alternates";
    font-size: 20px;
    margin-top: 18px;
    margin-bottom: 10px;
    color: #282828;
    font-weight: 700;
    text-align: left;
  }
  .box_1 h6 {
    font-family: "Montserrat Alternates";
    font-size: 15px;
    Color: #777777;
    font-weight: 600;
    word-spacing: 0;
    letter-spacing: 0;
    text-transform: none;
    text-align: left;

  }
</style>


<script>
    var swiper = new Swiper(".mSwiper", {
      slidesPerView: 4,
      grid: {
        rows: 2,
      },
      spaceBetween: 30,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
</script>