<div class="main_div">
  <div class="bg_image">
    <div class="video_section">
      <video
        class="video"
        loop
        muted
        autoplay
        playsinline>
        <source src="{{ section.settings.video  }}" type="video/mp4">
      </video>

    </div>
    <div class="trusted_by">
      {% if section.settings.trusted_by_image != blank %}
        <div class="main_image_1">
          <img src="{{ section.settings.trusted_by_image | img_url: 'master' }}" alt="" class="lazyload" loading="lazy">
        </div>
      {% endif %}
      {% if section.settings.heading != blank %}<h2 class="head">{{ section.settings.heading }}</h2>{% endif %}
      {% if section.settings.trusted_by_image != blank %}
        <div class="main_image_1">
          <img src="{{ section.settings.trusted_by_image | img_url: 'master' }}" alt="" class="lazyload" loading="lazy">
        </div>
      {% endif %}
    </div>
    <div class="page-width">
      <div class="trustedby_images">
          {% for block in section.blocks  %}
              {% if block.settings.trusted_by_image != blank %}
                <div class="trustedby_image">
                  <img src="{{ block.settings.trusted_by_image | img_url: 'master' }}" alt="">
                </div>
              {% endif %}
          {% endfor %}
      </div>
    </div>
    {% comment %} <div class="images">
      {% if section.settings.img_1 != blank %}
        <div class="img_box1">
          <img src="{{ section.settings.img_1 | img_url: 'master' }}" alt="">
        </div>
      {% endif %}
      {% if section.settings.img_2 != blank %}
        <div class="img_box2">
          <img src="{{ section.settings.img_2 | img_url: 'master' }}" alt="">
        </div>
      {% endif %}
      {% if section.settings.img_3 != blank %}
        <div class="img_box3">
          <img src="{{ section.settings.img_3 | img_url: 'master' }}" alt="">
        </div>
      {% endif %}
      {% if section.settings.img_4 != blank %}
        <div class="img_box4">
          <img src="{{ section.settings.img_4 | img_url: 'master' }}" alt="">
        </div>
      {% endif %}
      {% if section.settings.img_5 != blank %}
        <div class="img_box5">
          <img src="{{ section.settings.img_5 | img_url: 'master' }}" alt="">
        </div>
      {% endif %}
    </div> {% endcomment %}
  </div>
</div>


{%- schema -%}
  {
    "name": "Testimonial",
    "settings": [
      {
        "type": "url",
        "id": "video",
        "label": "video_watch"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "heading"
      },
      {
        "type": "image_picker",
        "id": "image_bg",
        "label": "image_bg"
      },
      {
        "type": "image_picker",
        "id": "trusted_by_image",
        "label": "trusted_by_image"
      }
      // , {
      //   "type": "image_picker",
      //   "id": "img_1",
      //   "label": "img_1"
      // }, {
      //   "type": "image_picker",
      //   "id": "img_2",
      //   "label": "img_2"
      // }, {
      //   "type": "image_picker",
      //   "id": "img_3",
      //   "label": "img_3"
      // }, {
      //   "type": "image_picker",
      //   "id": "img_4",
      //   "label": "img_4"
      // }, {
      //   "type": "image_picker",
      //   "id": "img_5",
      //   "label": "img_5"
      // }
    ],
    "blocks": [
            {
            "type": "image",
            "name": "image",
            "settings": [
                {
                "type": "image_picker",
                "id": "trusted_by_image",
                "label": "trusted_by_image"
                }
            ]
        }
       ],
    "presets": [
      {
        "name": "Testimonial"
      }
    ]
  }
{% endschema %}


<style>
  /* START CLS - 017 */

  * {
    margin: 0;
    padding: 0;
  }

  .main_div {
    width: 100%;
    height: auto;
    margin-top: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
  }

  .video_section {
    width: 100%;
    display: flex;
    margin-top: -320px;
    align-items: center;
    justify-content: center;
  }

  .video_section video {
    width: 60%;
    border: 6px solid white;
    border-radius: 70px;
  }

  .bg_image {
    width: 100%;
    height: auto;
    background-image: url("{{ section.settings.image_bg | img_url: 'master' }}");
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .images {
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .img_box1 {
    width: 150px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
  }

  .img_box1 img {
    width: 120px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img_box2 {
    width: 150px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
  }

  .img_box2 img {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 57px;
  }

  .img_box3 {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: #D9D9D9;
  }

  .img_box3 img {
    width: 107px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
  }

  .img_box4 {
    width: 150px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
  }

  .img_box4 img {
    width: 60px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img_box5 {
    width: 150px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
  }

  .img_box5 img {
    width: 60px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main_image_1 {
    width: 400px;
  }

  .main_image_1 img {
    width: 100%;
  }

  .trusted_by {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 50px;
    display: flex;
    gap: 150px;
    align-items: center;
    text-align: center;
    color: #ffffff;
    justify-content: center;
  }

  .trusted_by h1 {
    margin: 0;
    font-family: "Italiana";
    text-transform: none;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-align: center;
  }
  .trustedby_images {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin-bottom: 40px;
  }
  .trustedby_images img {
      width: 100%;
  }

  @media (max-width: 1024px) {
    .video_section {
      margin-top: -175px;
    }
    .main_div {
      margin-top: 420px;
    }

    .video_section video {
      width: 65%;
      border-radius: 40px;
    }
  }


  @media (max-width: 768px) {
    .video_section {
      margin-top: -100px;
    }

    .video_section video {
      width: 75%;
      border-radius: 35px;
    }
    .main_div {
      margin-top: 330px;
    }
  }
  @media (max-width: 576px) {
    .trustedby_images{
        flex-wrap: wrap;
    }
    .trustedby_image {
        width: 45%;
    }
  }
  @media (max-width: 425px) {
    .video_section {
      margin-top: -80px;
    }

    .video_section video {
      width: 90%;
      border-radius: 25px;
    }

    .main_div {
      margin-top: 330px;
    }

    .trusted_by h1 {
      font-size: 46px;
    }
  }

  @media (max-width: 321px) {
    .video_section {
      margin-top: -90px;
    }

    .video_section video {
      width: 95%;
      border-radius: 15px;
    }
  }

  /* END CLS - 017 */

</style>